@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
// Primary colors
$very-dark-blue: hsl(240, 74%, 29%);
$grey-blue: hsl(240, 8%, 58%);

// Primary font
$ubuntu: 'Ubuntu', sans-serif;