@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
// Primary colors
$very-dark-blue: hsl(240, 35%, 27%);
$grey-blue: hsl(240, 8%, 58%);
$light-white: rgba(255,255,255,.5);
$lavender: rgb(147, 150, 189);

// Primary font
$ubuntu: 'Ubuntu', sans-serif;